.music-info {
  direction: ltr;
  &--title {
    text-align: end;
    color: $pure-white;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__inputs {
    border-radius: 16px 16px 0px 0px;
    background-color: $dark6;

    width: 100%;
    display: grid;
    grid-template-columns: 34% 66%;
    grid-template-rows: auto auto auto;
    &--col {
      padding-top: 1.9em;
    }
  }

  &__btns {
    padding: 20px 3% 20px 3%;
    border-radius: 0px 0px 16px 16px;
    background-color: $dark6;
  }

  .inputs {
    &__uploader {
      margin: 0px 24px 5px 28px;
    }
    &--grid {
      display: grid;
      gap: 20px 0px;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto;
    }
    &__textarea {
      grid-column: 1 / 3;
    }
    &__file {
      display: none;
      background-color: #ffa928;
    }
  }

  .textField {
    padding-right: 28px;
    // margin-top: 30px;

    &__input {
      width: 79%;
      padding: 8px 8px;
      background: $dark2;
      border-style: none;
      border-radius: 8px;
      margin-top: 5px;
      color: $gray;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      font-family: peyda;
    }

    &__input:focus-visible {
      border-color: $pure-white;
    }

    &__input::placeholder {
      color: $gray;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      font-family: peyda;
    }

    &__label {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: $pure-white;
    }
  }

  textarea {
    width: 95.5%;
    background: $dark2;
    color: $gray;
    font-family: peyda;
    font-weight: 500;
    font-size: 12px;
    border-style: none;
    border-radius: 8px;
    padding: 3px 8px;
    resize: none;
    margin-top: 5px;
  }

  .textarea {
    padding-right: 25px;
    padding-top: 30px;

    &__label {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: $pure-white;
    }
  }

  .btns {
    &__cancel {
      margin-right: 14px;
      font-weight: 600;
      font-size: 12px;
      line-height: 24px;
      width: 100px;
      padding: 5px 0px;
      background: $dark2;
      color: $pure-white;
      font-family: peyda;
      border-style: none;
      border-radius: 8px;
      cursor: pointer;
    }

    &__save {
      margin-right: 14px;
      font-weight: 600;
      font-size: 12px;
      line-height: 24px;
      width: 170px;
      padding: 5px 0px;
      background: $orange;
      color: $pure-white;
      font-family: peyda;
      border-style: none;
      border-radius: 8px;
      cursor: pointer;
    }
  }

  .uploader {
    cursor: pointer;
    background-image: url("../images/upload-bgImg.png");
    width: 82%;
    height: 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 11px 11px 11px 11px;
    position: relative;
    &__title {
      width: 100%;
      position: absolute;
      bottom: 0;
      text-align: center;
      background-color: $gray;
      border-radius: 0px 0px 11px 11px;
      background: $dark2;
      font-weight: 600;
      font-size: 12px;
      color: $pure-white;
      padding: 6px 0px;
    }
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 7px;
  }
}

@media only screen and (max-width: 768px) {
  .music-info {
    background-color: $dark;

    &--title {
      margin-right: 25px;
    }
    &__inputs {
      background-color: $dark;
      width: 100%;
      display: grid;

      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
    .uploader {
      width: unset;
    }

    textarea {
      width: 79%;
    }

    .details {
      grid-template-columns: repeat(1, 1fr);
    }

    .inputs {
      &--grid {
        grid-template-columns: repeat(1, 1fr);
      }
      &__textarea {
        grid-column: 1 / 1;
        padding-top: 40px;
      }
      &__textField {
        margin-top: 20px;
      }
    }

    .textField {
      &__input {
        width: 85%;
      }
    }

    textarea {
      width: 85%;
      height: calc(1em * 1.5 * 25);
    }

    .btns {
      background-color: $dark;
      display: flex;
      justify-content: center;
      &__cancel {
        display: none;
      }
      &__save {
        margin-top: 20px;
        margin-left: 13px;
        width: 87%;
        margin-right: 0px;
      }
    }
  }
}
