$dark: #010101;
$dark2: #46464633;

$dark3: rgb(26, 26, 26);
$dark4: rgba(70, 70, 70, 0.5);
$dark5: rgba(70, 70, 70, 0.7);
$dark6: rgba(70, 70, 70, 0.4);
$gray: #999999;

$grayFilter: invert(66%) sepia(5%) saturate(19%) hue-rotate(16deg)
  brightness(91%) contrast(92%);
$orangeFilter: invert(81%) sepia(24%) saturate(3482%) hue-rotate(335deg)
  brightness(99%) contrast(104%);

$orangeGradient: linear-gradient(106.97deg, #fe8a48 -11.29%, #fda53e 91.8%);
$uploadBox: #46464666;

$orange: #ffa928;
$darkOrange: rgba(251, 138, 13, 0.2);
$pure-white: #ffffff;

$sidebarBackgroundColor: #46464633;
$sidebarFont: #999999;
$selectedItemSidbar: #ffa928;

$searchBarBnts: #4646464d;

$headerSearchBar: #46464633;
$headerColor: #1e1e1e;

////////////////////////////////////////////////

$black: #333333;
$blue: #00a3ff;
$surface: #f5f7f9;
$lightBlue: #ccedff;
$green: #00d796;
$gray: #a5b4ca;

$blueSurface: #f4fbff;
