<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="breadcrumbs" dir="rtl">
        <a href="" class="breadcrumbs__link active">بارگذاری‌آهنگ</a>
        <figure class="figurevector breadcrumbs__figurevector">
            <img class="breadcrumbs__vector" src="../assets/logos/svg/linear/Vector.svg" alt="">
        </figure>
        <a href="" class="breadcrumbs__link">ذخیره‌اطلاعات</a>
    </div>
</body>
</html>