<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="playlistIntro main__playlist" dir="RTL">
      <div class="cover playlistIntro__cover"></div>
      <div class="description playlistIntro__description">
        <div class="banner description__banner">
          <span class="banner__text">لیست پخش</span>
        </div>
        <div class="title description__title">
          <h2 class="title--h2">گلچین شاد مجلسی هفته</h2>
        </div>
        <div class="details description__details">
          <div class="songCnt details__songCnt">
            <img
              class="songCnt__icon"
              src="../assets/logos/main-icons/linear/musicFilter.png"
              alt=""
            />
            <span class="songCnt__text"> ۱۲۰ ترانه</span>
          </div>
          <hr class="verHr details__hr" />
          <div class="duration details__duration">
            <img
              class="duration__icon"
              src="../assets/logos/main-icons/linear/orangeClock.png"
              alt=""
            />
            <span class="duration__text"> ۶ ساعت و ۴۰ دقیقه و ۲۱ ثانیه </span>
          </div>
        </div>
        <div class="btns description__btns">
          <input class="btns__input" type="checkbox" name="play" id="play" />
          <label for="play" class="btns--playIcon"></label>
        </div>
      </div>
    </div>
  </body>
</html>
