<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">

</head>
<body>
    <div class="uploadfeature">
        <p class="uploadfeature__title">بارگذاری‌آهنگ</p>

        <div class="box uploadfeature__box">

            <div class="dragarea box__dragarea">
                <label  class="upload dragarea__upload dragarea__upload dragarea__label" for="files"><span>کلیک کنید یا آهنگ خود را در این قسمت رها کنید</span>
                    <label for="files" type="button" class="dragarea__btn">آپلود آهنگ</label>
                </label>
                <input class="dragarea__input" type="file" name="files" id="files" title="کلیک کنید">
            </div>
            <div class="guide uploadfeature__guide">
                <figure class="guide__figure">
                    <img src="../assets/logos/svg/bold/Vector.svg" alt="warn">
                </figure>
                <p class="guide__paragraph">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                </p>
            </div>
            
        </div>

        <div class="box uploadfeature__box">

            <div class="box__dragarea">
                
                <div class="upload dragarea__upload">
                    <label  class="dragarea__label" for="file"><span>در حال بارگذاری فایل</span>
                    </label>            
                    <progress class="upload__progress" dir="ltr"  value="50"  max="100">  </progress>
                </div>
                
                


                <input class="dragarea__input" type="file" name="files" id="files" title="کلیک کنید">

               
            </div>
            <div class="guide uploadfeature__guide">
                <figure class="guide__figure">
                    <img src="../assets/logos/svg/bold/Vector.svg" alt="warn">
                </figure>
                <p class="guide__paragraph">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                </p>
            </div>
            
        </div>

        <div class="box uploadfeature__box">

            <div class="box__dragarea">
                
                <div class="upload dragarea__upload">
                    <label  class="dragarea__label" for="file"><span>اتمام بارگذاری</span>
                    </label>            
                    <progress class="upload__progress" dir="ltr"  value="100"  max="100">  </progress>
                </div>
                
                


                <input class="dragarea__input" type="file" name="files" id="files" title="کلیک کنید">

               
            </div>
            <div class="guide uploadfeature__guide">
                <figure class="guide__figure">
                    <img src="../assets/logos/svg/bold/Vector.svg" alt="warn">
                </figure>
                <p class="guide__paragraph">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                </p>
            </div>
            
        </div>

    </div>
</body>
</html>