// ----------------------------------------------------------------------
// Base
// ----------------------------------------------------------------------
@import "../scss/base/fonts";
@import "../scss/base/mixins";
@import "../scss/base/variables";

// ----------------------------------------------------------------------

body {
  background-color: $dark;
  margin: 0px;
  height: 100vh;
}
