<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header class="header container__header">
        <nav class="nav header__nav" dir="rtl">
            <div class="searchbox nav__searchbox">
                <figure class="searchfigurelogo searchbox__searchfigurelogo">
                    <img class="searchfigurelogo__searchlogo" src="../assets/logos/svg/linear/search-normal.svg" alt="search-normal">
                </figure>
                <input type="text" name="" placeholder="جستجو..." id="" class="searchbox__searchinput">            
                <div class="btns searchbox__btns">
                    <input type="checkbox" name="avaz" id="avaz">
                            <label for="avaz" class="avaz btn btns__btn"><p>آواز</p></label>
                            
                            <input type="checkbox" name="irani" id="irani">
                            <label for="irani" class="irani btn btns__btn">ایرانی</label>
            
                            <input type="checkbox" name="sonati" id="sonati">
                            <label for="sonati" class="sonati btn btns__btn">سنتی</label>
                </div>
                <hr class="hr searchbox__hr">
                <div class="filterparent searchbox__filterparent">
                    <button class="filter filterdesktop filterparent__filter">فیلتر</button>
                    <button class="filter filtermobile filterparent__filter"></button>

                </div>
            </div>
    
    
    
    
            <div class="profilecontainer nav__profilecontainer">
                <div class="profile profilecontainer__profile">
                    <a class="number profile__number ">۰۹۱۵۴۰۶۴۹۸۷</a>
                    <figure class="profilefigure number__profilefigure">
                        <img src="../assets/logos/bottom-arrow.png" alt="bottom-arrow">
                    </figure>
                </div>
            </div>
                
        </nav>
    </header>
    
</body>
</html>