<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="mobileNav">
      <a href="#" class="blocIcon mobileNav__selectedBlocIcon">
        <img
          class="blocIcon__selectedImg"
          src="../assets/logos/svg/bold/orangeImport.svg"
          alt=""
        /><br />
        <span class="blocIcon__selectedTitle">آپلود آهنگ</span>
      </a>
      <a href="#" class="blocIcon mobileNav__blocIcon">
        <img
          class="blocIcon__img"
          src="../assets/logos/svg/bold/receipt-square.svg"
          alt=""
        /><br />
        <span class="blocIcon__title">لیست منتخب</span>
      </a>
      <a href="#" class="blocIcon mobileNav__blocIcon">
        <img
          class="blocIcon__img"
          src="../assets/logos/svg/bold/heart.svg"
          alt=""
        /><br />
        <span class="blocIcon__title">محبوب ترین ها</span>
      </a>
      <a href="#" class="blocIcon mobileNav__blocIcon">
        <img
          class="blocIcon__img"
          src="../assets/logos/svg/bold/home-2.svg"
          alt=""
        /><br />
        <span class="blocIcon__title">صفحه اصلی</span>
      </a>
    </nav>
  </body>
</html>
