<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Document</title>
</head>
<body>
    <aside class="sidebar sidebar_background">
        <div class="logoconteiner sidebar__logoconteiner sidebar--logo">
            <figure class="logofigure logofigure__icon">
                <img class="logo" src="../assets/logos/avaland-logo.png" alt="avaland.favico">
            </figure>
            <figure class="logofigure logofigure__player">
                <img class="logo" src="../assets/images/player.png" alt="player">
            </figure>
            <figure class="logofigure">
                <img class="logo" src="../assets/images/music-player.png" alt="music-player">
            </figure>
        </div>
        
       
        <ul class="list sidebar__list">
            
            <li class="item list__item item--homeIcon"><a class="link">صفحه‌اصلی</a></li>
            <li class="item list__item item--searchIcon"><a class="link">جستجو</a></li>
            <li class="item list__item item--playIcon"><a class="link">پخش‌آهنگ</a></li>
            <li class="item list__item item--likeIcon"><a class="link">محبوب‌ترین‌ها</a></li>
            <li class="item list__item item--listIcon"><a class="link">لیست‌پخش‌منتخب</a></li>
            <li class="item list__item item--uploadIcon item--active"><a class="link">آپلودآهنگ</a></li>

        </ul>


    </aside>
</body>
</html>